# Ignore Python bytecode
__pycache__/
*.py[cod]

__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env


# Ignore Node modules
node_modules/

# Ignore environment files
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore build output
/dist/
/build/
/out/

# Ignore IDE config
.vscode/
.idea/

Lib/

.venv/